<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obuhiv AI</title>
    <link rel="icon" type="image/png" href="./images/logo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="./stylesheets/chat.css">
    <script src="./javascripts/chatPage.js" defer></script>
</head>
<body>
     <header>
        <i id="logo" class='bx bxs-color'></i>
        <hr>
        <p>Obuhiv AI</p>
     </header>
     <main>
        <div class="content">

        </div>
        <form class="question">
                    <input class="input" name="prompt" type="text" placeholder="Ask anything">
                    <button class="send" type="submit"><i class='bx bxs-send'></i>  </button>
        </form>
    </main>
</body>
</html>