<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obuhiv AI</title>
    <link rel="icon" type="image/png" href="../img/logo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" href="../styles/index.css">
    <script src="../scripts/script.js" defer></script>
</head>
<body>
     <header>
        <i id="logo" class='bx bxs-color'></i>
        <hr>
        <p>Obuhiv AI</p>
     </header>

     <main>
        <div class="btns">
                    <a href="../views/chat.html"><button class="start">Try Obuhiv AI</button></a>
                    <a href=""><button class="account">Log In / Sign Up</button></a>
        </div>
        <p class="slogan">Користуєтесь ChatGpt , Gemini або Claude AI? Забудьте все. Обирайте свій народний Obuhiv AI . <b>“Obuhiv AI — жодне питання не залишиться без відповіді , жодна людина не залишиться без туалетного паперу”</b></p>

       <div class="effects">
    <p class="effects_title">Що дає Obuhiv AI</p>

    <div class="effects_list">
        <div class="effect_item">
            <i class='bx bxs-color'></i>
            <hr>
            <p>Жоден вчитель не скаже вам, що ви списали з GPT, тому що ви списали з Obuhiv AI</p>
        </div>

        <div class="effect_item">
            <i class='bx bxs-color'></i>
            <hr>
            <p>Obuhiv AI працює навіть тоді, коли інтернет впав. Бо він уже знає, що ви хотіли спитати</p>
        </div>

        <div class="effect_item">
            <i class='bx bxs-color'></i>
            <hr>
            <p>Ви втомитесь говорити з людьми, тому що всі будуть вас питати, як ви робите все так бездоганно</p>
        </div>

        <div class="effect_item">
            <i class='bx bxs-color'></i>
            <hr>
            <p>Ваші друзі почнуть підозрювати, що за вами стоїть ціла команда вчених. Але ні — то просто Obuhiv AI</p>
        </div>
    </div>
</div>
     </main>

     <footer>
        <div class="footer_top">
            <div class="footer_logo">
                <i id="logo" class='bx bxs-color'></i>
                <p>Obuhiv AI</p>
            </div>
        </div>
        <div class="footer_bottom"></div>
     </footer>
</body>
</html>