body{
    background-color: rgb(244, 241, 239);
    height: auto;
    padding: 0;
    margin: 0;
    color: rgb(28, 28, 27);
}


/* header */
header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 95px;
    font-family: Merriweather ;
    color: rgb(28, 28, 27);
}

.logo-box{
    position: relative;
    display: inline-block;
}

.hat{
    width: 49px;
    height: 49px;
    position: absolute;
    z-index: 10;
    top: -20px;
    left: 0;
    pointer-events: none;
}

#logo{
    transition: all 0.5s;
    font-size: 36px;
    color: rgb(243, 142, 0) ;
}

#logo:hover{
    transform: rotate(90deg) scale(1.15);
}

header p{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 28px;
}

header hr{
    height: 60%;
    border: 1px solid black;
    margin: 5px 20px;
    padding: 0px;
}


/* main */
main{
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(28, 28, 27);
}

.btns{
    width: 100%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.start {
    text-decoration: none;
    margin: 10px 30px;
    padding: 24px 32px;
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 800;
    border: 2px solid rgb(16, 16, 16);
    color: white;
    border-radius: 5px;
    background: linear-gradient(
        90deg,
        rgb(16, 16, 16) 0%,
        rgb(16, 16, 16) 50%,
        rgb(16, 16, 16) 100%
    );

    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.start::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 0, 0, 0) 60%
    );
    opacity: 0;
    transition: opacity 0.5s;
}

.start:hover {
    transform: scale(1.05);
}

.start:hover::after {
    opacity: 1;
}

.account{
    text-decoration: none;
    margin: 10px 30px;
    padding: 24px 32px;
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 800;
    border: 2px solid rgb(106, 106, 106);
    color: rgb(106, 106, 106);
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    transition: all 0.5s;
}

.account:hover{
    transform: scale(1.05);
    background-color: hsl(49, 20%, 84%);
    border: 2px solid hsl(49, 20%, 84%);
    color: rgb(28, 28, 27);
}

.btns button:active{
    transform: scale(0.95);
}

.slogan {
    box-sizing: border-box;
    width: 60%;
    font-size: 24px;
    text-align: center;
}



.effects {
    box-sizing: border-box;
    text-align: center;
    padding: 60px 20px;
    font-family: Merriweather ;
}

.effects_title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.effects_list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.effect_item {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    padding: 24px 20px;
    max-width: 280px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.effect_item i {
    font-size: 36px;
    color: rgb(28, 28, 27);
    margin-bottom: 12px;
    transition: all 0.3s;
}

.effect_item hr {
    width: 80px;
    border: none;
    border-top: 2px solid #e0e0e0;
    margin: 12px 0 16px;
}

.effect_item p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(28, 28, 27);
}   

.effect_item:hover {
    border-color: #bbb;
    transform: translateY(-4px);
}

.effect_item:hover i {
    transform: rotate(90deg);
}

footer{
background-color:  rgb(28, 28, 27);
width: 100%;
box-sizing: border-box;
padding: 25px;
color: white;
margin-top: 20px;
font-size: 17px;
    font-family: Merriweather ;
}
.footer_top{
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
}

.footer_top ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer_bottom{
    font-family: Merriweather ;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_bottom p a{
    text-decoration: none;
    color:  rgb(243, 142, 0) ;
    font-weight: 800;
}