body {
    background-color: rgb(244, 241, 239);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: rgb(28, 28, 27);
}

header {
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Merriweather;
}

#logo{
    transition: all 0.5s;
    font-size: 36px;
    color: rgb(243, 142, 0) ;
}

#logo:hover{
    transform: rotate(90deg) scale(1.15);
}

header p{
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 28px;
}

header hr{
    height: 60%;
    border: 1px solid black;
    margin: 5px 20px;
    padding: 0px;
}




main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
}

.question {
    padding: 15px;
    display: flex;
    justify-content: center;
    background: rgba(244, 241, 239, 0);
}   

.question input{
    width: 40%;
    padding: 14px;
    padding-right: 48px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #cdcdcd;
}

.send{
    border: none;
    height: 52px;
    width: 52px;
    background-color: rgba(240, 248, 255, 0);
    font-size: 24px;
    transform: translateX(-48px);
    color: rgb(243, 142, 0) ;
    transition: all 0.3s;
}

.send:hover{
    color:rgb(28, 28, 27) ;
    transform: scale(1.05) translateX(-48px);
}
